/* tags */
/* id selectors */
/* class selectors */
/* html selectors e.g type, placeholder */

h2 {
  background: red;
  color: white;
}

.rexx {
  background: blue;
}

.timi {
  background: yellowgreen;
}

#blessing {
  background-color: green;
}